<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="it-IT">
<link rel="stylesheet"
	href="https://bootswatch.com/5/united/bootstrap.min.css">

<head>
<title>Assegnamento Ordini</title>
</head>
<body onload="caricaOrdini()">
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" th:href="@{index}">eMarket</a>
			</div>
			<div id="opzioni" class="collapse navbar-collapse">
				<ul class="navbar-nav me-auto">
					<li class="nav-item"><a class="nav-link" th:href="@{visualizzaCorriere}" >Gestione Corrieri</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{visualizzaProdotto}" >Gestione Prodotti</a></li>
					<li class="nav-item"><a class="nav-link active" href="#">Assegnamento ordini</a></li>

				</ul>
			</div>
		</div>
	</nav>
	
	<p hidden id="percorsiRef" th:text="${dati}"> </p>
	
	<div class="container mt-5">
		<p id="pRef"> </p>
	</div>
<script th:inline="javascript">

function caricaOrdini(){
	var val = document.getElementById('percorsiRef').innerHTML;
	
	val = val.slice(1,-1);
	const myArray = val.split("], ");
	 
	 var riga = document.getElementById('pRef');
	 for (var i = 0; i <= myArray.length; i = i+3){
	 	if( i+3 != myArray.length){
	 		riga.innerHTML = riga.innerHTML + "<h5>Corriere: " + myArray[i].substring(1) + "<br>" + "</h5><h5>Percorso: " + myArray[i+1].substring(1) + "<br>" + "</h5><h5>Clienti: " + myArray[i+2].substring(1) + "</h5><hr>";
	    }else{
	        riga.innerHTML = riga.innerHTML + "<h5>Corriere: " + myArray[i].substring(1) + "<br>" + "</h5><h5>Percorso: " + myArray[i+1].substring(1) + "<br>" + "</h5><h5>Clienti: " + myArray[i+2].slice(1,-1) + "</h5><hr>";
	    }
	 }
}
	
</script>

</body>